<div class="home-container">
  <header class="navbar">
    <div class="menu-icon">
      <div></div>
      <div></div>
      <div></div>
    </div>
    
    <div class="nav-links">
      <a href="#">TREINO</a>
      <a href="#">AULAS</a>
      <a href="#">PLANOS</a>
      
      <div class="user-icon">
        <i class="fa fa-user"></i>
      </div>
    </div>
  </header>

  <section class="content-wrapper">
    
    <div class="logo">
      <h1 class="logo-text">REALLIFE</h1> 
      
     
        <img class="logo1" src="../../../assets/logo2.png" alt="logo"/>
    </div>

    <div class="main-visual-area">
      
      <div class="gym-images-overlap">
        <img class="img1" src="../../../assets/gym.1.jpg" alt="Academia 1" />
        
        <img class="img2" src="../../../assets/gym.2.webp" alt="Academia 2" />
      </div>

      
    </div>
    
    <button class="btn-assinatura">ASSINATURA</button>

  </section>
</div>