<div class="login-container">
  <h2 class="login-title">LOGIN</h2> 
  <div class="login-box">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <input type="email" placeholder="E-MAIL/CPF" formControlName="email" />
      <input type="password" placeholder="SENHA" formControlName="senha" />

      <button type="submit" class="btn-primary">CONFIRMAR</button>
    </form>

    <button class="btn-google" (click)="loginGoogle()">
      <img src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg" alt="Google Logo" style="width: 20px; height: 20px;" />
      CONTINUAR COM O GOOGLE 
    </button>
  </div>

  <div class="login-image">
    <div class="overlay">
      <h1 class="logo">REALLIFE</h1>
      
      <div class="Logo2"></div>
    </div>
  </div>
</div>
